<mat-card style="margin-top: 20px;" *ngIf="soporte">
    <mat-card-content style="width: 100%; ">
        <div>
            <div class="title">
                <div>
                    &nbsp; {{ 'soporte.titulo' | translate }}
                </div>
            </div>
            <div class="aviso_criterio" align="center">
                <label class="fondo_aviso">
                    <strong>{{ 'soporte.nota' | translate }}:</strong>{{ 'soporte.aviso' | translate }}
                </label>
            </div>
            <div style="margin-top: 40px;">

                <div>
                    &nbsp; {{'soporte.historicos' | translate}}
                </div>
                <div>
                    <table mat-table [dataSource]="dataSource" matSort class="tabla">
                        <ng-container matColumnDef="orden">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                {{'soporte.orden' | translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.orden}} </td>
                        </ng-container>
                        <ng-container matColumnDef="convocatoria">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                {{'soporte.convocatoria' | translate}} </th>
                            <td mat-cell *matCellDef="let row">{{row.convocatoria}} </td>
                        </ng-container>
                        <ng-container matColumnDef="generacion">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                {{'soporte.generacion' | translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.generacion}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                {{'soporte.usuario' | translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.usuario}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="+">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-mas">
                                <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
                                    <input class="boton-column" type="button" value="+" 
                                        (click)="activateVariables()">
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <div style="    display: flex; justify-content: space-between; align-items: center;">                                <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                    class="boton-table" (click)="documento('descargar')">
                                    <mat-icon>get_app</mat-icon>
                                </button>
                                <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                    class="boton-table" (click)="documento('ver')">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                    class="boton-table">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>

                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>

                        <!-- Row shown when there is no matching data. -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">{{'soporte.nodata' | translate}}</td>
                        </tr>
                    </table>
                    <mat-paginator #paginator [pageSize]="6" [showFirstLastButtons]="true" class="paginator">
                    </mat-paginator>
                </div>

            </div>
        </div>
        <div style="display: flex; justify-content: center; margin-top: 40px;">
            <div>
                <button class="boton-primary">{{ 'GLOBAL.cerrar' | translate }}</button>
            </div>
        </div>

    </mat-card-content>
</mat-card>
<div *ngIf="resumen">
    <app-resumen-configuracion (soportehijo)="visualizarSoporte($event)" />
</div>