<div class="col-12">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'tipo_inscripcion.titulo' | translate }}</mat-card-title>
            
        </mat-card-header>
        <mat-card-content>
            <mat-card-content>
                <mat-tab-group fullWidth (changeTab)="selectTab($event)">
                    <mat-tab label="{{ 'GLOBAL.lista' | translate }}" *ngIf="!cambiotab">
                        <br />
                        
                        <mat-table [dataSource]="source">
                            <!-- Columna ID -->
                            <ng-container matColumnDef="Id">
                              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                              <mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</mat-cell>
                            </ng-container>

                            <!-- Columna Nombre -->
                            <ng-container matColumnDef="Nombre">
                                <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.nombre' | translate }}</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Nombre }}</mat-cell>
                            </ng-container>

                            <!-- Columna Descripcion -->
                            <ng-container matColumnDef="Descripcion">
                                <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.descripcion' | translate }}</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Descripcion }}</mat-cell>
                            </ng-container>

                            <!-- Columna NivelId -->
                            <ng-container matColumnDef="NivelId">
                              <mat-header-cell *matHeaderCellDef>{{ 'GLOBAL.nivel' | translate }}</mat-header-cell>
                              <mat-cell *matCellDef="let row">{{ row.NivelId == 1 ? ('GLOBAL.pregrado' | translate) : ('GLOBAL.posgrado' | translate) }}</mat-cell>
                            </ng-container>

                            <!-- Columna Especial -->
                            <ng-container matColumnDef="Especial">
                                <mat-header-cell *matHeaderCellDef>{{ 'tipo_inscripcion.cupo_especial' | translate }}</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Especial ? ('GLOBAL.activo' | translate) : ('GLOBAL.inactivo' | translate) }}</mat-cell>
                            </ng-container>

                            <!-- Columna Activo -->
                            <ng-container matColumnDef="Activo">
                                <mat-header-cell *matHeaderCellDef>{{ 'tipo_inscripcion.estado' | translate }}</mat-header-cell>
                                <mat-cell *matCellDef="let row">{{ row.Activo ? ('GLOBAL.activo' | translate) : ('GLOBAL.inactivo' | translate) }}</mat-cell>
                            </ng-container>
                            
                            <!-- Columna de acciones -->
                            <ng-container matColumnDef="Acciones">
                              <mat-header-cell *matHeaderCellDef>
                                Acciones
                                <button mat-icon-button (click)="onCreate()">
                                  <mat-icon>add_outline</mat-icon>
                                </button>
                              </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                <button mat-icon-button (click)="onEdit(row)">
                                  <mat-icon>edit_outline</mat-icon>
                                </button>
                                <button mat-icon-button (click)="onDelete(row)">
                                  <mat-icon>delete_outline</mat-icon>
                                </button>
                              </mat-cell>
                            </ng-container>
                          
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> 
                          </mat-table>
                    </mat-tab>
                    <mat-tab label="{{ 'GLOBAL.formulario' | translate }}" *ngIf="cambiotab">
                        <udistrital-crud-tipo-inscripcion [tipo_periodo_id]="uid" (eventChange)="onChange($event)"></udistrital-crud-tipo-inscripcion>
                        <button (click)="activetab()" mat-button color="primary"> <mat-icon>arrow_back</mat-icon> {{ 'GLOBAL.regresar' | translate }}</button>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card-content>
    </mat-card>
</div>
