<div class="col-12">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        "tipo_inscripcion.titulo" | translate
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-content>
        <mat-tab-group fullWidth (changeTab)="selectTab($event)">
          <div class="table">
          <mat-tab label="{{ 'GLOBAL.lista' | translate }}" *ngIf="!cambiotab">
              <mat-table [dataSource]="source">
                <!-- Columna ID -->
                <ng-container matColumnDef="Id">
                  <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                  <mat-cell *matCellDef="let row; let i = index">{{
                    i + 1
                  }}</mat-cell>
                </ng-container>

                <!-- Columna Nombre -->
                <ng-container matColumnDef="Nombre">
                  <mat-header-cell *matHeaderCellDef>{{
                    "GLOBAL.nombre" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{ row.Nombre }}</mat-cell>
                </ng-container>

                <!-- Columna Descripcion -->
                <ng-container matColumnDef="Descripcion">
                  <mat-header-cell *matHeaderCellDef>{{
                    "GLOBAL.descripcion" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{
                    row.Descripcion
                  }}</mat-cell>
                </ng-container>

                <!-- Columna NivelId -->
                <ng-container matColumnDef="NivelId">
                  <mat-header-cell *matHeaderCellDef>{{
                    "GLOBAL.nivel" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{
                    row.NivelId == 1
                      ? ("GLOBAL.pregrado" | translate)
                      : ("GLOBAL.posgrado" | translate)
                  }}</mat-cell>
                </ng-container>

                <!-- Columna Especial -->
                <ng-container matColumnDef="Especial">
                  <mat-header-cell *matHeaderCellDef>{{
                    "tipo_inscripcion.cupo_especial" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{
                    row.Especial
                      ? ("GLOBAL.activo" | translate)
                      : ("GLOBAL.inactivo" | translate)
                  }}</mat-cell>
                </ng-container>

                <!-- Columna Activo -->
                <ng-container matColumnDef="Activo">
                  <mat-header-cell *matHeaderCellDef>{{
                    "tipo_inscripcion.estado" | translate
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let row">{{
                    row.Activo
                      ? ("GLOBAL.activo" | translate)
                      : ("GLOBAL.inactivo" | translate)
                  }}</mat-cell>
                </ng-container>

                <!-- Columna de acciones -->
                <ng-container matColumnDef="Acciones">
                  <mat-header-cell *matHeaderCellDef>
                    <button
                      mat-flat-button
                      color="accent"
                      style="width: 6rem; min-width: 6rem;"
                      (click)="onCreate()"
                    >
                      <mat-icon>add_outline</mat-icon>
                      {{ "GLOBAL.agregar" | translate }}
                    </button>
                  </mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <div style="width: 6rem; min-width: 6rem;">
                      <button mat-mini-fab color="accent" (click)="onEdit(row)">
                        <mat-icon>edit_outline</mat-icon>
                      </button>
                      <button
                        mat-mini-fab
                        color="warn"
                        style="margin-left: 0.4rem"
                        (click)="onDelete(row)"
                      >
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></mat-row>
              </mat-table>
            </mat-tab>
          </div>
          <mat-tab
            label="{{ 'GLOBAL.formulario' | translate }}"
            *ngIf="cambiotab"
          >
            <udistrital-crud-tipo-inscripcion
              [tipo_periodo_id]="uid"
              (eventChange)="onChange($event)"
            ></udistrital-crud-tipo-inscripcion>
            <div class="container-bottons margin-y">
              <button (click)="activetab()" mat-flat-button color="warn">
                {{ "GLOBAL.regresar" | translate }}
              </button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card-content>
  </mat-card>
</div>
