<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ "solicitudes_correos.consulta_solicitudes" | translate }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ "solicitudes_correos.resultados_solicitudes" | translate }}
    </mat-card-subtitle>
  </mat-card-header><br>
  <mat-card-content>
    <mat-form-field class="form-field" *ngIf="mostrarTabla1">
      <mat-label>{{ "GLOBAL.buscar" | translate }}</mat-label>
      <input matInput (keyup)="aplicarFiltro($event, 'tabla1')" placeholder="Buscar" #inputTabla1 />
    </mat-form-field>
    <!-- Inicia tabla principal -->
    <div id="tabla1" class="centered-cells blue-background table-rounded table"
      [style.display]="mostrarTabla1 ? 'block' : 'none'">
    <mat-form-field class="form-field" *ngIf="mostrarTabla1">
      <mat-label>{{ "GLOBAL.buscar" | translate }}</mat-label>
      <input matInput (keyup)="aplicarFiltro($event, 'tabla1')" placeholder="Buscar" #inputTabla1 />
    </mat-form-field>
    <!-- Inicia tabla principal -->
    <div id="tabla1" class="centered-cells blue-background table-rounded table"
      [style.display]="mostrarTabla1 ? 'block' : 'none'">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index" data-column="procesoAdminicion">{{ i +
            1 }}</td>
        </ng-container>

        <ng-container matColumnDef="procesoAdminicion">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.proceso_admision" | translate }}
          </th>
          <td mat-cell *matCellDef="let element" data-column="procesoAdminicion">{{
            element.procesoAdminicion }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.fecha" | translate }}</th>
          <td mat-cell *matCellDef="let element" data-column="procesoAdminicion">{{ element.fecha }}
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.estado" | translate }}</th>
          <td mat-cell *matCellDef="let element" [ngStyle]="element.estadoStyle" class="status-indicator">
            {{ element.estado }}
          </td>
        </ng-container>
       
        <ng-container matColumnDef="gestion">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.acciones" | translate }}</th>
          <td mat-cell *matCellDef="let element" data-column="procesoAdminicion">
            <button mat-icon-button (click)="onGestionClick(element)" matTooltip="Ver">
              <mat-icon style="color: var(--others-accent);">search</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
    <!-- Finaliza tabla principal -->

    <div id="tabla2" class="table-rounded table" [style.display]="mostrarTabla1 ? 'none' : 'block'">
      <mat-form-field class="form-field">
        <mat-label>{{ "GLOBAL.buscar" | translate }}</mat-label>
        <input matInput (keyup)="aplicarFiltro($event, 'tabla2')" placeholder="Buscar" #inputTabla2 />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource2">
        <ng-container matColumnDef="facultad">
          <th mat-header-cell *matHeaderCellDef>{{ "soporte.facultad" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.facultad }}</td>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>{{ "soporte.codigo" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
          <th mat-header-cell *matHeaderCellDef>{{ "soporte.codigo" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
        </ng-container>

        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.numero_documento" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.Numero }}</td>
        </ng-container>

        <ng-container matColumnDef="primerNombre">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.primer_nombre" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.PrimerNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="segundoNombre">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.segundo_nombre" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.SegundoNombre }}</td>
        </ng-container>

        <ng-container matColumnDef="primerApellido">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.primer_apellido" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.PrimerApellido }}</td>
        </ng-container>

        <ng-container matColumnDef="segundoApellido">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.segundo_apellido" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.SegundoApellido }}</td>
        </ng-container>

        <ng-container matColumnDef="correoPersonal">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.correo_personal" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.CorreoPersonal }}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.telefono" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.Telefono }}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioAsignado">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.usuario_asignado" |
            translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.correo_asignado }}</td>
        </ng-container>

        <ng-container matColumnDef="correoAsignado">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.correo_asignado" |
            translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.correo_asignado }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
      <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

      <mat-card>
        <mat-card-content>
          <div *ngIf="mostrarFormulario">
            <form [formGroup]="observacionForm">              
              <div class="form-group">
                <mat-card-title>
                  {{ "GLOBAL.observaciones" | translate }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ "solicitudes_correos.observacion_descripcion" | translate }}
                </mat-card-subtitle>
                <textarea id="cuerpoObservacion" formControlName="cuerpoObservacion"
                  class="full-width-textarea"></textarea>
              </div>              
              <div class="container-buttons">
                <button mat-flat-button color="primary">
                  {{ "solicitudes_correos.observacion" | translate }}
                </button>
              </div>
            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="!mostrarTabla1">
    <div class="container-return">
      <div class="container-buttons">
        <button mat-flat-button color="warn" (click)="descargarCSV()">
          {{ "solicitudes_correos.descargar_listado" | translate }}
        </button>
        <button mat-flat-button color="accent" (click)="inputFile.click()">
          {{ "solicitudes_correos.cargar_listado" | translate }}
          <input #inputFile type="file" (change)="cargarCSV($event)" accept=".csv" style="display: none;">
        </button>
        <button mat-flat-button color="primary" (click)="confirmarGestion()">
          {{ "solicitudes_correos.confirmar_gestion" | translate }}
        </button>
      </div>
      <button mat-flat-button color="primary" (click)="mostrarTabla('tabla1')">
        <mat-icon>keyboard_arrow_left</mat-icon>
        {{ "GLOBAL.regresar" | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>