<mat-card>
  <mat-card-header class="justify-center" *ngIf="mostrarTabla1">
    <mat-card-title>{{ "solicitudes_correos.consulta_solicitudes" | translate }}</mat-card-title>
    <mat-card-subtitle>{{ "solicitudes_correos.resultados_solicitudes" | translate }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="responsive-form" *ngIf="mostrarTabla1">
      <div class="form-item one-third-width">
        <mat-form-field class="form-field">
          <input matInput (keyup)="aplicarFiltro($event, 'tabla1')" placeholder="Buscar" #inputTabla1 />
        </mat-form-field>
      </div>
    </div>

    <div id="tabla1" [style.display]="mostrarTabla1 ? 'block' : 'none'">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
        <!-- Column Definitions -->
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <ng-container matColumnDef="procesoAdminicion">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.proceso_adminicion" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.procesoAdminicion }}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.fecha" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>{{ "GLOBAL.estado" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="gestion">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.gestion" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="mostrarTabla('tabla2')">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-card-header class="justify-center" *ngIf="!mostrarTabla1">
      <mat-card-title>{{ "solicitudes_correos.listado" | translate }}</mat-card-title>
      <mat-card-subtitle>{{ "solicitudes_correos.resultados_solicitudes" | translate }}</mat-card-subtitle>
    </mat-card-header>

    <div id="tabla2" [style.display]="mostrarTabla1 ? 'none' : 'block'">
      <div class="responsive-form">
        <div class="form-item one-third-width">
          <mat-form-field class="form-field">
            <input matInput (keyup)="aplicarFiltro($event, 'tabla2')" placeholder="Buscar" #inputTabla2 />
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="dataSource2">
        <!-- Column Definitions -->
        <ng-container matColumnDef="facultad">
          <th mat-header-cell *matHeaderCellDef>{{ "soporte.facultad" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.facultad}}</td>
        </ng-container>

        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>{{ "soporte.codigo" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
        </ng-container>

        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>{{ "solicitudes_correos.numero_documento" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{element.numeroDocumento}}</td>
        </ng-container>

        <ng-container matColumnDef="primerNombre">
          <th mat-header-cell *matHeaderCellDef>Primer Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.primerNombre}}</td>
        </ng-container>

        <ng-container matColumnDef="segundoNombre">
          <th mat-header-cell *matHeaderCellDef>Segundo Nombre</th>
          <td mat-cell *matCellDef="let element">{{element.segundoNombre}}</td>
        </ng-container>

        <ng-container matColumnDef="primerApellido">
          <th mat-header-cell *matHeaderCellDef>Primer Apellido</th>
          <td mat-cell *matCellDef="let element">{{element.primerApellido}}</td>
        </ng-container>

        <ng-container matColumnDef="segundoApellido">
          <th mat-header-cell *matHeaderCellDef>Segundo Apellido</th>
          <td mat-cell *matCellDef="let element">{{element.segundoApellido}}</td>
        </ng-container>

        <ng-container matColumnDef="correoPersonal">
          <th mat-header-cell *matHeaderCellDef>Correo Personal</th>
          <td mat-cell *matCellDef="let element">{{element.correoPersonal}}</td>
        </ng-container>

        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>Teléfono</th>
          <td mat-cell *matCellDef="let element">{{element.telefono}}</td>
        </ng-container>

        <ng-container matColumnDef="usuarioAsignado">
          <th mat-header-cell *matHeaderCellDef>Usuario Asignado</th>
          <td mat-cell *matCellDef="let element">{{element.usuarioAsignado}}</td>
        </ng-container>

        <ng-container matColumnDef="correoAsignado">
          <th mat-header-cell *matHeaderCellDef>Correo Asignado</th>
          <td mat-cell *matCellDef="let element">{{element.correoAsignado}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
      <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      
      <button mat-fab class="float-button" (click)="mostrarTabla('tabla1')">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-paginator class="paginacion" [pageSize]="10"></mat-paginator>
  </mat-card-content>

  <div *ngIf="!mostrarTabla1" class="observaciones" style="margin: 20px 0; border: 1px solid black; padding: 10px;">
    <h3>{{ "GLOBAL.observaciones" | translate }}</h3>
    <textarea rows="4" style="width: 100%; border: 1px solid black;"></textarea>
  </div>

  <mat-card-actions *ngIf="!mostrarTabla1">
    <div class="container-bottons">
      <button mat-flat-button color="warn" (click)="descargarCSV()">
        {{ "solicitudes_correos.descargar_listado" | translate }}
      </button>
      <button mat-flat-button color="accent" (click)="inputFile.click()">
        {{ "solicitudes_correos.cargar_listado" | translate }}
        <input #inputFile type="file" (change)="cargarCSV($event)" accept=".csv" style="display: none;">
      </button>
      <button mat-flat-button color="primary" (click)="confirmarGestion()">
        {{ "solicitudes_correos.confirmar_gestion" | translate }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
